<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/goku-in-suit-altin-smaili.jpg">
    </div>
    <p>
        Hey, my name is Goku, after defeating Frieza, i returned to Earth and worked to set up my first startup
        its called, Scouter, this device allows you to scan the "Chi" level of nearby objects and warn you for possible
        threats. Served to you by "Hating-Vegeta-Team"
    </p>
    {{>footer}}
</body>

</html>